*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color:#000;
    font-size: 15px;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color:#000;
}
ul{
    list-style: none;

}
.container{
    width: 90%;
    max-width: 1100px;
    margin:auto;

}
/*navigation*/

.main-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    padding:20px 0;
    font-size:13px; 
}
.main-nav .logo{
    width:110px;

}
.main-nav ul{
    display:flex;
}
.main-nav ul li{
    padding:0 10px;
}
.main-nav ul li a{
    border-bottom: 2px;
}
.main-nav ul li a:hover{
    border-bottom: 2px solid black;
}
.main-nav ul .main-menu{
    flex:1;
    margin-left:20px;

}

/* header */
 
 
 .heading{
    width:100%;
    height:400px;
    
    background-image:url("./Images/header1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align: center;
    
 }
 .heading h2{
    margin-bottom: 10px;
    margin-top:150px;
    padding-top:50px;
    font-size:30px;
    font-weight:normal;
 }
 .heading .btn{
    background-color: #000;
    color: #fff;
    font-size: 15px;
    cursor:pointer;
    padding:10px 20px;
    font-weight: bolder;
    display:inline-block;
    border: 0;
    border-bottom:0;
    
 }
 .heading i{
    margin-left:10px;
 }
 .heading .btn:hover{
    opacity: 0.9;
    
    border-bottom: 2px solid white;

 }
 
 

 /* first cards section*/
 .cards-container{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   grid-column-gap:20px;
   margin-bottom: 40px;
   padding-top:20px;
   

 }
 .cards-container .cards img{
    width: 100%;
    margin-bottom: 20px;
 }
 .cards-container .cards  h3{
    margin-bottom: 5px;
 }
 
 .cards .shop-now{
    background-color: #fff;
    color: rgb(9, 108, 157);
    font-size: 15px;
    cursor:pointer;
    text-align: left;
    font-weight: bolder;
    display:inline-block;
    border: 0;
    padding-top:20px;

 }
 .cards i{
    padding-left:5px;
    color:rgb(9, 108, 157);

 }

 .cards-container .cards .shop-now:hover{
    border-bottom: 2px solid rgb(9, 108, 157);
 }

 .cards-container .cards p{
    font-size: 15px;;
 }
.cards-container .card-link:hover{
    opacity: 0.9;
    margin-left: 10px;
}
/*section 3 */

.section-3{
    width:100%;
    height:400px;
    
    background-image:url("./Images/lap2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
 }
.section-3 .content{
    width:40%;
    padding-top:110px;
    padding-left:95px;
    margin:10px;
    
}
.section-3 h2,.section-3 p{
    margin:10px 0 10px;
}
.section-3 .content .button{
    background-color: #000;
    color: #fff;
    font-size: 15px;
    cursor:pointer;
    padding:10px 20px;
    font-weight: bolder;
    display:inline-block;
    border: 0;
    border-radius: none;
}
.section-3 .content .button:hover{
    opacity: 0.9;
    margin-right:10px;
    border-bottom: 2px solid white;
}
.section-3 .content .button i{
    padding-left:5px;
    
   
}


 .section-5{
    width:100%;
    height:400px;
    background-image:url("./Images/lastsection.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-5 .content{
    width:55%;
    
    padding-top:135px;
    padding-left:95px;
    margin:10px;
}
.section-5 .content h2{
   
    margin-bottom:5px;
    color:#fff;
}
.section-5 .content .button{
    color:#000;
    background: #fff;
    font-size: 15px;
    cursor:pointer;
    padding:8px 25px;
    font-weight: bolder;
    display:inline-block;
    border: 0;
    border-radius: none;
}
.section-5 .content i{
    color:#000;
}
.follow{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    margin:30px 0 30px;
}
.follow *{
    margin-right: 10px;
}
/*Links*/
.links{
    background:#f2f2f2;
    color:#616161;
    font-size:12px;
    padding:35px 0;
}
.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  .links li {
    line-height: 2.8;
  }
/* Footer */
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
  }
  .footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .footer div i {
    margin-right: 10px;
  }
  
  .footer ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer li {
    margin-right: 30px;
    margin-bottom: 20px;
  }
  
  @media(max-width: 700px) {
    .menu-btn {
      display: block;
    }
  
    .menu-btn:hover {
      opacity: 0.5;
    }
  
    .main-nav ul.right-menu {
      margin-right: 50px;
    }
  
    .main-nav ul.main-menu {
      display: block;
      position: absolute;
      top:0;
      left: 0;
      background: #f2f2f2;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
    }
  
    .main-nav ul.main-menu li {
      padding: 10px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
  
    .main-nav ul.main-menu li:last-child {
      border-bottom: 0;
    }
  
    .main-nav ul.main-menu.show {
      transform: translateX(-20px);
    }
  
    .cards-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .section-3 .content p {
      display: none;
    }
  
    .section-3 .content h2 {
      margin-bottom: 20px;
    }
  
    .section-5 .content {
      width: 85%;
    }
  
    .links .links-inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(max-width: 500px) {
    .home-cards {
      grid-template-columns: 1fr;
    }
  
    .links .links-inner {
      grid-template-columns: 1fr;
    }
  
    .links .links-inner ul {
      margin-bottom: 20px;
    }
  }